<div>
    <h2>Bienvenido/a {{first_name}}</h2>
</div>
<div>
    <ul>
        <li>Primer Nombre: {{first_name}}</li>
        <li>Apellido: {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Age: {{age}}</li>
        <li>{{role}}</li>
    </ul>
</div>
<div>
    <a href="/products">Productos</a> |  <a href="/sessions/logout">LogOut</a>
</div>