
 
 <div class="COMBO">
     {{#each data.docs}}
    
      <div class="card-CO">
        <img src="{{this.thumbnail}}" alt="">
        <div class="intro">
            <h2>{{this.title}}</h2><span>{{this.description}}</span>
            <p>Precio = ${{this.price}}</p>
            <p>Stock = {{this.stock}}</p>
            <p>Codigo = {{this.code}}</p>
        </div>
      </div>
  <div class="burbujas2">
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
        <div class="burbuja2"></div>
     </div>
    {{/each}} 
    
     </div>
 
