<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="Lo">           
            <div class="Logo"><img src="/img/Logo-canguro.webp" alt="logo"  height="170" ></div>
        </li>
        <li class="nav-item firs">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{#ifEqual cart.length 0}} disabled{{/ifEqual}}" href="/carts">Carrito <i
                    class="fa fa-cart-plus"></i></a>
        </li>
        {{#if user}}
        <li class="nav-item ">
            <a class="nav-link premium" href="/users/profile/documents">Premium</a>
        </li>
        {{/if}}
    <li>                 {{!-- Contacto --}}
    <button class="navbar-toggler usr" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bt-cont">{{#ifEqual user.role "admin"}}<i class="fa-solid fa-users-gear"></i>{{else}}<i class="fa-regular fa-address-card"></i>{{/ifEqual}}{{#if user.premium}}<i class="fa-solid fa-user-tie"></i>{{/if}}
</span>
    </button></li> 
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item contact icon-user">
           <!-- darkmode -->
            <li class="nav-item">
            <a class="nav-link">
                Dark Mode
                <button class="darkModeSwitch" id="switch">
                    <span></span>
                    <span></span>
                </button>
            </a>
            </li>
           <!-- FIN-DARKMODE -->
            <div class="inf-cont">
            <div>
                <img src="{{user.photo}} {{user.user.photo}}" alt="Corona" class="foto-perfil">
            </div>
            <div class="box-info-contact">
                <h4>{{user.first_name}} {{user.last_name}}</h4>
            <p>{{user.email}}</p>
            <p>{{user.phone}}</p>
            <button><a href="/users/profile">Edit</a></button>
            </div>
          </li>
          </div>
        {{#if user.role}}
        {{#ifEqual user.role "admin"}}
        <li class="nav-item">
            <a class="nav-link green" href="/admin_panel">Panel Administrador</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link violet" href="/docs-api">Documentar API con Swagger</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mockingproducts">Crear 100 Productos con Mocking</a>
        </li>
        {{/ifEqual}}
        {{/if}}
        {{#if user}}
        {{#if user.premium}}
        <li class="nav-item">
            <a class="nav-link premium">Premin </a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link green">Basic</a>
        </li>
        {{/if}}

        <li class="nav-item ">
            <a class="nav-link red" href="/logout">Logout <i class="fa fa-sign-out"></i> </a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link green" href="/login">Login <i class="fa fa-sign-in"></i></a>
        </li>
        {{/if}}
        </ul>
      </div>
    </div>
    </ul>
    {{!-- end --}}
    {{{ body }}}


    <div id="history"></div>
    <div class="footer">
        <footer class='top'>
            <a href='/'>
                <img src="/img/Logo-canguro.webp" alt='Canguro drinks' />
            </a>
        </footer>
        <footer class='bottom'>
            <div class='legal'>
                <p>
                    &copy; Gustavo Ovejero | Entrega Final | Curso de BackEnd en CoderHouse | Comisión #39755 | Año
                    <span id="anio"></span>
                </p>
            </div>
            <section class='iconos-social links'>
                <img src="/assets/icons/whatsapp.svg" alt="icono" />
                <img src="/assets/icons/instagram.svg" alt="icono" />
                <img src="/assets/icons/facebook.svg" alt="icono" />
            </section>
        </footer>
        {{#if user}}
        <a href="/chat">
          <i class="fa-solid fa-comments chat"></i>
        </a>
        {{/if}}
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script src="/js/darck.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const spanAnio = document.getElementById("anio");
            const fechaActual = new Date();
            const anioActual = fechaActual.getFullYear();
            spanAnio.textContent = anioActual;
        });
    </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5a2235372b.js" crossorigin="anonymous"></script>
</body>

</html>