<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/icons/animal_kangaroo_icon_159044.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

       {{#if user}}  
       <header>

            {{#if user}}
            <div class="Logo"><img src="img/Logo/Logo-canguro.webp" alt="logo"  height="190" ></div>
            
            {{/if}}
        
          <nav class="navbar">
  <div class="container-fluid navigation">
    <a href="#" class="oder">Home</a>
                 <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
            {{!-- <a href="/session/login"><button class="btnLogin-popup">Login</button></a> --}}
          
              {{!-- Contacto --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item contact icon-user">

            <div class="cont-user-img">
              <input type="file" id="file" accept="image/*" >
              <div class="image-area" >
                <i class="fa-solid fa-user icon-user"></i>
                <h3>Descarga tu imagen</h3>
                <p>no debe pasarse de los <span>2mb</span></p>
               
              </div>
              <button class="select-image">Select Image</button>
            </div>
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <p>{{user.email}}</p>
            <p>{{user.telphone}}</p>
          </li>
          <li class="nav-item list-contacto">
           <i class="fa-solid fa-envelope-open-text"></i> <a class="nav-link" href="#">Mis pedidos</a>
          </li>
            <li class="nav-item list-contacto">
           <i class="fa-solid fa-ticket"></i> <a class="nav-link" href="#">Mis cupones</a>
          </li>
            <li class="nav-item list-contacto bg-resalted">
           <i class="fa-solid fa-gift"></i> <a class="nav-link" href="#">Invitá a tus amigos</a>
          </li>
            <li class="nav-item list-contacto">
           <i class="fa-solid fa-comments"></i> <a class="nav-link" href="#">Consulta de mis ordenes</a>
          </li>
            <li class="nav-item list-contacto">
           <i class="fa-solid fa-circle-question"></i> <a class="nav-link" href="#">Preguntas frecuentes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <button class="logout"><i class="fa-solid fa-power-off fa-sm" style="color: #640707;"></i><a href="/session/logout">Cerrar Sesión</a></button>
        </ul>

      </div>
    </div>
    {{!-- end --}}
    {{!-- Carrito --}}
    <button class="navbar-toggler Carri" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <img src="img/icons/Carrito-icon.png" alt="" height="30px" >
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item contact">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <p>{{user.email}}</p>
            <p>{{user.telphone}}</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
{{!-- end --}}
    
  </div>
</nav>
          {{!-- {{#if user}}<div class="Logo"><img src="img/Logo/Logo-canguro.webp" alt="logo"  height="190" ></div>{{/if}}
         <h2 class="logo">{{user.first_name}}</h2>
         <nav class="navigation">
            <a href="#" class="oder">Home</a>
            <a href="#" class="oder">about</a>
            <a href="#" class="oder">contact</a>
            <a href="/session/login"><button class="btnLogin-popup">Login</button></a>
              {{#if user}} <button class="logout"><a href="/session/logout">Logout</a></button>{{/if}}
         </nav> --}}
       </header>    
<script>
 const selectImage = document.querySelector('.select-image');
 const inputFile = document.querySelector('#file');
 const imgArea = documnet.querySelector('.img-area');

 selectImage.addEventListener('click', function () {
  inputFile.click();
 })
 inputFile.addEventListener('change', function () {
  const image = this.files[0]
  console.log(image);
  const reader = new FileReader();
  reader.onload = ()=> {
    const allImg = imgArea.querySelectorAll('img');
    allImg.forEach(item=> item.remove());
    const imgUrl = reader.result;
    const img = document.createElement('img');
    img.src = imgUrl;
    imgArea.appendChild(img);
    imgArea.classList.add('active')
    imgArea.dataset.img = image.name;
  }
  render.readAsDataURL(image);
 })
 </script>{{/if}}  
        {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5a2235372b.js" crossorigin="anonymous"></script>
        <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        </div>
</body>

</html>